/* 公用样式 */
.enter { 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 1001;
}
.more {
    position: fixed;
    right: 60px;
    bottom: 80px;
    z-index: 1001;
    animation: updown_more 600ms linear 100ms infinite alternate;
}
.items_wrapper {
    width: 900px;
    height: 600px;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    margin-left: -450px;
    bottom: 0;
}

/* 定义第一屏 */
.bg01 {
    background: url(../images/01-bg.png) no-repeat center bottom;
}
.bg01 .goods {
    position: absolute;
    text-align: center;
    bottom: 90px;
}
.bg01 .sofa {
    position: absolute;
    bottom: 290px;
    left: 220px;
    animation: updown_sofa 1100ms linear infinite alternate;
}
.bg01 .flybanner {
    position: absolute;
    top: 20px;
    right: -50px;
    animation: updown_flybanner 800ms linear infinite alternate;
}

/* 定义动画 布局用定位 动画用位移*/
@keyframes updown_flybanner{
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(20px);
    }
}
@keyframes updown_more{
    from {
        transform: translateY(-15px);
    }
    to {
        transform: translateY(15px);
    }
}
@keyframes updown_sofa{
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(10px);
    }
}

/* 第二屏开始 */
.bg02 {
    background: url(../images/02-bg.png) no-repeat center bottom;
}
.goods_list {
    position: absolute;
    bottom: 210px;
    left: 50%;
    margin-left: -220px;
    transform-origin: right bottom;
    transform: scale(0);
}
.bg02 .sofa {
    transform: scale(0.5);
    position: absolute;
    top: 132px;
    left: 292px;
    opacity: 0;
    z-index: 1001;
}
.input {
    /* transform: scale(0.7); */
    position: absolute;
    top: 121px;
    right:171px;
    /* transform: translate(-175px,130px); 中心点位置*/
    /* 最右边位置transform: translate(2000px,130px);  */
    transform-origin: right top;
    opacity: 0;
}
.keyWord {
    position: absolute;
    bottom: 12px;
    right: 70px;
    opacity: 0;
}
.bg02.now .input {
    animation: input02 3s linear forwards;
}
.bg02.now .input .keyWord {
    opacity: 1;
    transition: all 1s linear 1s;
}
.bg02.now .goods_list {
    transform: none;
    transition: all 1s linear 2s;
}
.text {
    text-align: center;
}
/* .text .text01 {
    
} */
.text .text02 {
    position: absolute;
    opacity: 0;
}

/* 第二屏动画 */
.bg02.now .text .text01 {
    position: absolute;
    opacity: 0;    
}
.bg02.now .text .text02 {
    position: static;
    opacity: 1;
    transition: opacity 1s;
}
@keyframes input02 {
    0% {
        transform: translate(2000px,130px);
        opacity: 1;
    }
    33% {
        transform: translate(-175px,130px); 
    }
    66% {
        transform: translate(-175px,130px); 
    }
    100% {
        transform: scale(0.7);
        opacity: 1;
    }
}
/* 第二屏过度到第三屏动画 */
.bg02.leaved .sofa{
    animation: sofa02 700ms linear;
}
@keyframes sofa02{
    from{
        opacity: 1;
    }
    to{
        opacity: 1;
        transform: translate(-75px,1000px);
    }
}

/* 第三屏 */
.bg03{
    background: url(../images/03-bg.png) no-repeat center bottom;
}
.bg03 .sofa{
    position: absolute;
    left: 212px;
    top: 180px;
    display: none;
}

.bg03 .change{
    position: absolute;
    bottom: 170px;
    right: 115px;
}
.bg03 .change img:last-child{
    position: absolute;
    opacity: 0;
}
.bg03 .cart{
    position: absolute;
    bottom: 100px;
    right: 192px;
}
.bg03 .cart img:last-child{
    position: absolute;
    opacity: 0;
}
.bg03.now .change img:first-child{
    display: none;
}
.bg03.now .change img:last-child{
    position: static;
    opacity: 1;
    transition: all 700ms linear;
}
.bg03.now .cart img:first-child{
    display: none;
}
.bg03.now .cart img:last-child{
    position: static;
    opacity: 1;
    transition: all 700ms linear;
}
.bg03.now .sofa{
    display: block;
    position: relative;
    z-index: 1001;
}
.bg03.leaved .sofa{
    animation: sofaDrop04 700ms linear;
}
@keyframes sofaDrop04{
    from{
    }
    to{

        transform: translate(110px,1150px) rotate(45deg);
    }
}

/* 第四屏 */
.bg04{
    background: url(../images/04-bg.png) no-repeat center bottom;
}
.bg04 .clouds{
    position: absolute;
    left: 0;
    top: 200px;
    animation: cloudsF 18s linear infinite alternate;
}
.bg04 .text04{
    text-align: center;
}
.bg04 .text04 .text01{

}
.bg04 .text04 .text02{
    position: absolute;
    opacity: 0;
}
.bg04 .cart{
    position: relative;
    margin-top: 170px;
    text-align: center;
}
.bg04.now .cart img:last-child{
    transform: translateX(1500px); 
    transition: transform 3.5s linear;
}
.bg04 .cart img:first-child{
    position: absolute;
    left: 425px;
    top: -24px;
    transform: rotate(45deg);
    opacity: 0;
    z-index: 1001;
}
.bg04.now .cart img:first-child{
    opacity: 1;
    transform: rotate(45deg);
    transform: translateX(1500px); 
    transition: transform 3.5s linear;
    /* transition: opacity 700ms linear; */
}
.bg04 .cart img:last-child{
    position: relative;
    z-index: 1002;
}
@keyframes cloudsF{
    from{
    }
    to{
        transform: translateX(1000px);
    }
}
/* @keyframes cartMove{
    from{

    }
    to{
        transform: translateX(1500px);
    }
} */
.bg04 .address {
    position: absolute;
    width: 283px;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
}
.bg04 .address img:last-child{
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translate(-50%);
}
.bg04.show .address{
    opacity: 1;
    transition: all 800ms linear;
}
.bg04.show .text04 .text01{
    position: absolute;
    opacity: 0;
}
.bg04.show .text04 .text02{
    position: static;
    opacity: 1;
    transition: all 800ms linear;
}

/**第五屏*/
.bg05{
    background: url(../images/05-bg.png) no-repeat center bottom;
    /* overflow: hidden; */
}
.bg05 .items_wrapper{
    /* height: 100%; */
    /* position: relative; */

}
.bg05 .creditCard{
    position: absolute;
    top: 200px;
    left: 0;
}
.bg05 .creditCard img:first-child{
    position: relative;
    z-index: 1001;
}
.bg05 .creditCard img:last-child{
    position: absolute;
    bottom: 30px;             /*变换后bottom:180px; */
    left: 105px;
    z-index: 1000;
}
.bg05 .mouse{
    position: absolute;
    /* overflow: hidden; */
    right: 0;
    top: 0;
    height: 100%;
    width: 400px;
}
.bg05 .mouse img{
    position: absolute;
    right: 0;
    bottom: 200px;
}

.bg05 .mouse img:last-child{
    opacity: 0;
}
.bg05 .hand{
    position: absolute;
    right: 43px;
    bottom: -500px;         /*变化后为-28px*/
}
.bg05 .sofa{
    position: absolute;
    transform: rotate(30deg);
    left: 75px;
    top: -800px;           /*变化后为365px*/
}
/* 第五屏动画 */
.bg05.now .hand{
    /* transform: translateY(-470px); */
    bottom: -28px;
    transition: bottom 1s linear;
}
.bg05.now .mouse img:last-child{
    opacity: 1;
    transition: opacity 0.5s 1s linear;
}
.bg05.sofaReady .sofa {
    transform: translateY(1000px) rotate(30deg);
    transition: transform 1.5s linear;
}
.bg05.orderReady .creditCard img:last-child{
    bottom:180px;
    transition: bottom 1s linear;
}
.bg05.orderReady .sofa {
    transform: translateY(1165px) rotate(30deg);
    transition: transform 1s linear;
}

/*第六屏布局*/
.bg06{
    background: url(../images/06-bg.png) no-repeat 25% bottom;
}
.bg06 .clouds{
    position: absolute;
    top: -50px;
    left: 0;
}
.bg06 .text06-01{
    position: absolute;
}
.bg06 .text06-02{
    opacity: 0;
}
.bg06 .text06{
    position: absolute;
    top: 80px;
    left: 140px;
}
.bg06 .box{
    position: absolute;
    top: -50px;
    left: -1500px;
}
.bg06 .addressInfo{
    position: absolute;
    top: -45px;
    right: -30px;
}
.bg06 .addressInfo img:first-child{
    opacity: 0;
    position: absolute;
}
.bg06 .addressInfo img:last-child{
    opacity: 0;
}
.bg06 .car{
    position: absolute;
    bottom: 0;
    left: 100px;
}
.bg06 .worker{
    position: absolute;
    bottom: 0;
    left: 100px;
    transform-origin: bottom left;
    opacity: 0;
}
.bg06 .worker img:last-child{
    position: absolute;
    top: -135px;
    right: -60px;
    opacity: 0;
}
.bg06 .buyer{
    position: absolute;
    right: 70px;
    bottom: 116px;

    opacity: 0;
}
.bg06 .buyer img:first-child{
    position: absolute;
    /* z-index: 1002; */
    bottom: 0;
}
.bg06 .buyer img:last-child{
    opacity: 0;
    transform: scale(0.4);
    transform-origin: right bottom;
}
/* 第六屏动画 */
.bg06.now{
    background: url(../images/06-bg.png) no-repeat 100% bottom;
    transition: all 1s linear 1s;
}
.bg06.now .clouds img:first-child{
    animation: flow06 20s linear infinite alternate;
}
.bg06.now .clouds img:last-child{
    animation: flow06 30s linear infinite alternate;
}
@keyframes flow06{
    from{
        transform: translateX(-500px);
    }
    to{
        transform: translateX(500px);
    }
}
.bg06.now .text06-01{
    opacity: 0;
    transition: opacity 1s linear 5.5s;
}
.bg06.now .text06-02{
    opacity: 1;
    transition: opacity 1s linear 5.5s;
}
.bg06.now .addressInfo img:first-child{
    animation: addressShow-Fade 1s linear 1s; 
}
.bg06.now .addressInfo img:last-child{
    /* position: absolute; */
    transition: all 0.5s linear 1.5s;
    opacity: 1;
}
@keyframes addressShow-Fade{
    0%{

    }
    50%{
        opacity: 1; 
    }
    100%{
        opacity: 0;
    }
}

.bg06.now .worker{
    animation: workerShow 2.5s linear 2s forwards;
}
.bg06.now .worker img:last-child{
    opacity: 1;
    transition: opacity 1s linear 4.5s;
}
@keyframes workerShow{
    0%{
        transform: scale(0.3);
        opacity: 1;
    }
    33%{
        opacity: 1;
        transform: scale(1);
        /* transform-origin: bottom left;        */
    }
    66%{
        opacity: 1;
        left: 100px;
        /* transform: scale(1); */
        /* transform-origin: bottom left;  */
        bottom: 90px;
    }
    100%{
        opacity: 1;
        /* transform: scale(1); */
        /* transform-origin: bottom left;  */
        bottom: 90px;
        left: 300px;
    }
}

.bg06.now .buyer{
    opacity: 1;
    transition: opacity 1s linear 5.5s;
}
.bg06.now .buyer img:last-child{
    opacity: 1;
    transform: scale(1);
    transform-origin: bottom right;
    transform: translateX(-140px);
    transition: all 1s linear 6.5s;
}

.bg05.leaved .sofa{
    /* z-index: 1010;
    opacity: 1; */
    animation: sofa05-06 1s linear;
}
@keyframes sofa05-06{
    from{

    }
    to{
        display: block;
        z-index: 1001;
        transform: translateY(1600px) scale(0.2) rotate(30deg);
        /* transition: all 1s linear forwards;   */
    }
}
.bg06.sofaReady .box{
    animation: boxAnim 2s linear forwards;
}
@keyframes boxAnim{
    0%{
    }
    33%{
        left: 150px;
        top: -50px;
    }
    66%{
        left: 150px;
        top: 500px;
    }
    100%{
        left: 150px;
        top: 500px;
        opacity: 0;
    }
}